/* src/fonts.css */
@font-face {
    font-family: 'Akkordeon Six';
    src: url('../fonts/Akkordeon/Akkordeon-Six.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Five';
    src: url('../fonts/Akkordeon/Akkordeon-Five.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Eleven';
    src: url('../fonts/Akkordeon/Akkordeon-Eleven.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Three';
    src: url('../fonts/Akkordeon/Akkordeon-Three.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Ten';
    src: url('../fonts/Akkordeon/Akkordeon-Ten.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Nine';
    src: url('../fonts/Akkordeon/Akkordeon-Nine.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Four';
    src: url('../fonts/Akkordeon/Akkordeon-Four.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Two';
    src: url('../fonts/Akkordeon/Akkordeon-Two.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Fourteen';
    src: url('../fonts/Akkordeon/Akkordeon-Fourteen.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Eight';
    src: url('../fonts/Akkordeon/Akkordeon-Eight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Twelve';
    src: url('../fonts/Akkordeon/Akkordeon-Twelve.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Seven';
    src: url('../fonts/Akkordeon/Akkordeon-Seven.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon One';
    src: url('../fonts/Akkordeon/Akkordeon-One.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkordeon Thirteen';
    src: url('../fonts/Akkordeon/Akkordeon-Thirteen.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}